
ul{
    display: flex;
    gap: 10%;
    padding: 2%;
    
}
li {
    list-style: none;
    font-size: 24px
}
a{
    text-decoration: none;
    margin: 20px; /* Aplica 20 pixels para todos os lados */

}
.contact{
    font-size: 24px


}
